**1. Write a Python Program to Display Fibonacci Sequence Using Recursion?**

In [9]:
def fibonacci(n) :
  if n == 0 :
    return 0 
  elif n == 1 :
    return 1 
  elif n > 0 :
    return fibonacci(n-1) + fibonacci(n-2)

In [13]:
for i in range ( 0 , 10 ) :
  print( fibonacci(i))

0
1
1
2
3
5
8
13
21
34



---

**2. Write a Python Program to Find Factorial of Number Using Recursion?**

In [4]:
def factorial(n) :
  if n == 0 or n == 1 :
    return 1
  else :
    return n * factorial(n-1)

In [5]:
factorial(5)

120



---

**3. Write a Python Program to calculate your Body Mass Index?**

In [14]:
def BMI( height , weight ) :
    h_in_meter = height / 100 
    sq_height = h_in_meter*h_in_meter
    body_m_i = weight / sq_height
    return "body mass index" , body_m_i

In [15]:
BMI( 152 , 60 )

('body mass index', 25.969529085872576)



---

**4. Write a Python Program to calculate the natural logarithm of any number?**

In [16]:
import math

def calculate_natural_log(x):
    result = math.log(x)
    return result

In [17]:
calculate_natural_log(10)

2.302585092994046



---

**5. Write a Python Program for cube sum of first n natural numbers?**

In [42]:
cube_sum = 0 
for i in range ( 1 , 11 ) :
  cube_sum += i**3
print("cube sum of first n natural number" , cube_sum)

cube sum of first n natural number 3025



---